<div class="footer">
    <p class="footer-content">&copy; 2023 Angel Dimitrov </p>
    <a class="footer-content" href="https://www.linkedin.com/in/angel-dimitrov/" target="_blank">
        <img class="footer-image" src="/img/LI-In-Bug.png" width="30" height="25">
    </a>
    <a class="footer-content" href="https://github.com/angeldimitrov94" target="_blank">
        <img class="footer-image" src="/img/GitHub_Logo.png" width="55" height="25">
    </a>
</div>