<h5>Who am I?</h5>
<p>Generalist software engineer in the San Francisco Bay Area (California) with a passion for learning and figuring out innovative and appropriate uses for new (or at least new to me) technologies.</p>

<h5>What motivates me?</h5>
<p>Having been someone who has supported both very legacy and greenfield software deployed 'in the wild', I'm intimately aware of the impact that technical decisions have on the always elusive balance between time-to-market, MVP (minimum viable product), ease of support and technical debt. This mindset of balance drives all of my design decisions.</p>
<h5>What am I currently learning?</h5>
<p>How to <b>responsibly</b> use micro-service architectures, with an emphasis on embracing elegant (read simple and performant) architectures and thinking twice before buying into a new 'fad' technology. Also connecting my prior knowledge of backend technology to the entire picture - how the full stack truly works.</p>
<h5>What am I NOT?</h5>
<p>NOT a UI/UX specialist - although I strongly admire beautiful and artful designs, that is not my forte. Maybe one day I'll master that as well...for fun!</p>