<p>Hey there, I'm Angel - a software engineer interested in learning and applying new skills.</p>
<p>I've created this site with two purposes :</p>
<ul>
    <li>So I can document and share various thoughts that I have on software development</li>
    <li>Show what I'm learning/working on</li>
    <li>Improve my full-stack engineering skills! What better way than to build/host/maintain a site...</li>
</ul>
<p>I also hope to be able to post some interesting tutorials on here at some point on helpful topics. Stay tuned.</p>