<p>This is the home page and it takes the full width of the layout. Adding some more text here should make the layout wider and maybe if I enter enough stuff here it will fill the page but maybe probably not.</p>
<a href="/about">About</a>